/*Color palette codes: 
Black
Dark Charcoal #333333
Teal #008080
Tiffany Blue #00AAAA
Dark Turquoise #00D5D5
Aqua #00FFFF*/
.container{
    border-color:10px dashed blueviolet;
    padding: 500px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
body{
    background-color:#333333;
}
h1{
    color: aqua;
    font-family: "Times New Roman";
    font-size: 300%;
    text-align: center;
}
h2{
    color: teal;
    font-family:"Times New Roman";
    font-size: 150%;
    text-align: center;
}
p{
    color: whitesmoke;
    font-family: "Times New Roman";
    font-size: 120%;
    border: 3px dotted #00AAAA;
    padding: 30px;
    margin: 50px;
}
